.nav-warape {
  background-color: #212121;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
  padding: 4px 20px;
  margin: 0 auto;
  .title-subtitle {
    display: flex;
    flex-direction: row;
    flex: 2;
    h2 {
      flex: 1;
      align-self: center;
      font-weight: 500;
      &:hover {
        cursor: pointer;
      }
    }
    h3 {
      flex: 1;
      align-self: center;
      text-align: center;
      font-weight: 300;
    }
  }
  .menu-wrapper {
    flex: 1;
    align-self: center;
    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        display: flex;
        align-items: center;
        .ic-search:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .nav-warape {
    background-color: #212121;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    padding: 4px 20px;
    .title-subtitle {
      display: flex;
      flex-direction: column;
      flex: 2;
      h2 {
        flex: 1;
        align-self: flex-start;
        &:hover {
          cursor: pointer;
        }
      }
      h3 {
        flex: 1;
        align-self: flex-start;
        font-weight: 300;
      }
    }
    .menu-wrapper {
      display: block;
    }
  }
}
